In [1]:
# SCENARIO BASED QUESTION

# CORPORATE EMPLOYEEE  Performance Dashboard A company tracks quarterly performance scores of employees across different departments.
# The HR analytics team wants to analyze this dataset to identify top performers, departmental trends, and highlight exceptional scores

import pandas as pd

In [2]:
df = pd.read_csv("dataSet.csv")

In [3]:
ans = df[df["Score"] > 90]
ans

  Employee Department Quarter  Score
2     John         IT      Q1     92
4    David      Sales      Q2     95
8     Neha      Sales      Q3     99

In [4]:
df[df["Department"] == "Sales"]

  Employee Department Quarter  Score
0     Amit      Sales      Q1     78
4    David      Sales      Q2     95
8     Neha      Sales      Q3     99

In [5]:
df.sort_values("Score" , ascending = False)

  Employee Department Quarter  Score
8     Neha      Sales      Q3     99
4    David      Sales      Q2     95
2     John         IT      Q1     92
7     Ravi    Finance      Q2     90
3     Sara    Finance      Q1     88
1    Priya         HR      Q1     85
5    Meera         HR      Q2     80
0     Amit      Sales      Q1     78
9    Karan         IT      Q3     76
6     Alex         IT      Q2     70

In [6]:
df.sort_values(["Department" , "Score"] , ascending = [True , False])

  Employee Department Quarter  Score
7     Ravi    Finance      Q2     90
3     Sara    Finance      Q1     88
1    Priya         HR      Q1     85
5    Meera         HR      Q2     80
2     John         IT      Q1     92
9    Karan         IT      Q3     76
6     Alex         IT      Q2     70
8     Neha      Sales      Q3     99
4    David      Sales      Q2     95
0     Amit      Sales      Q1     78

In [7]:
df.groupby("Department")["Score"].mean()

Department
Finance    89.000000
HR         82.500000
IT         79.333333
Sales      90.666667
Name: Score, dtype: float64

In [8]:
df.groupby("Quarter")["Score"].max()

Quarter
Q1    92
Q2    95
Q3    99
Name: Score, dtype: int64

In [9]:
# Business Context -
# Filtering helps HR identify exceptional performers and focus on specific departments.
# Employees with scores above 90 are top performers. HR can reward or promote them.


# Sorting creates clear performance rankings, useful for promotions or recognition programs. 
# Grouped averages show which department performs best overall  Helps HR decide where training is needed.


# Grouping reveals departmental strengths and quarterly performance trends, guiding training and resource allocation.
# Sorting by score creates a clear leaderboard. Sorting by department shows internal department competition.
# ðŸ”¹ Quarterly Performance
# Maximum score per quarter highlights peak performance periods.Useful for incentives.