In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("sample_data.csv")

In [5]:
rows = df.shape[0]
print(rows)

15

In [6]:
missing = df.isnull()
print(missing)

    Employee_ID  Department  Region  Salary  Experience_Years  \
0         False       False   False   False             False
1         False       False   False   False             False
2         False       False   False   False             False
3         False       False   False   False             False
4         False       False   False   False             False
5         False       False   False   False             False
6         False       False   False   False             False
7         False       False   False   False             False
8         False       False   False   False             False
9         False       False   False   False             False
10        False       False   False   False             False
11        False       False   False   False             False
12        False       False   False   False             False
13        False       False   False   False             False
14        False       False   False   False             False

    Performance_Rating  Monthly_Sales
0                False          False
1                False          False
2                False          False
3                False          False
4                False          False
5                False          False
6                False          False
7                False          False
8                False          False
9                False          False
10               False          False
11                True          False
12               False           True
13               False          False
14               False          False

In [7]:
avg = df["Salary"].mean()
print(avg)

49666.666666666664

In [8]:
avg = df["Salary"].mean()
print(avg)

49666.666666666664

In [9]:
max = df["Salary"].max()
print(max)

62000

In [10]:
df = pd.read_csv("telcom_data.csv")

In [11]:
rows = df.shape[0]
print(rows)

15

In [12]:
missing = df.isnull()
print(missing)

    Customer_ID  Gender    Age  Tenure_Months  Monthly_Charges  Contract_Type  \
0         False   False  False          False            False          False
1         False   False  False          False            False          False
2         False   False  False          False            False          False
3         False   False  False          False            False          False
4         False   False  False          False            False          False
5         False   False  False          False            False          False
6         False   False  False          False            False          False
7         False   False  False          False            False          False
8         False   False  False          False            False          False
9         False   False  False          False            False          False
10        False   False  False          False            False          False
11        False   False  False          False            False          False
12        False   False  False          False            False          False
13        False   False  False          False            False          False
14        False   False  False          False            False          False

    Internet_Service  Payment_Method  Churn
0              False           False  False
1              False           False  False
2              False           False  False
3              False           False  False
4              False           False  False
5              False           False  False
6              False           False  False
7              False           False  False
8              False           False  False
9              False           False  False
10             False           False  False
11             False           False  False
12             False           False  False
13             False           False  False
14             False           False   True

In [13]:
avg = df["Monthly_Charges"].mean()
print(avg)

702.6666666666666

In [14]:
max = df["Monthly_Charges"].max()
print(max)

900

In [15]:
df = pd.read_csv("employee_data.csv")

In [16]:
rows = df.shape[0]
print(rows)

15

In [17]:
missing = df.isnull()
print(missing)

    Employee_ID    Age  Department  Job_Role  Monthly_Income  \
0         False  False       False     False           False
1         False  False       False     False           False
2         False  False       False     False           False
3         False  False       False     False           False
4         False  False       False     False           False
5         False  False       False     False           False
6         False  False       False     False           False
7         False  False       False     False           False
8         False  False       False     False           False
9         False  False       False     False           False
10        False  False       False     False           False
11        False  False       False     False           False
12        False  False       False     False           False
13        False  False       False     False           False
14        False  False       False     False           False

    Years_at_Company  Overtime  Job_Satisfaction  Attrition
0              False     False             False      False
1              False     False             False      False
2              False     False             False      False
3              False     False             False      False
4              False     False             False      False
5              False     False             False      False
6              False     False             False      False
7              False     False             False      False
8              False     False             False      False
9              False     False              True      False
10             False     False             False      False
11             False     False             False      False
12             False     False             False      False
13             False     False             False      False
14             False     False             False      False

In [18]:
avg = df["Monthly_Income"].mean()
print(avg)

56533.333333333336

In [20]:
max = df["Monthly_Income"].max()
print(max)

85000