In [31]:
import pandas as pd
import numpy as np

In [32]:
customers = pd.read_csv("customer.csv")

In [33]:
sales = pd.read_csv("sales.csv")

In [34]:
support = pd.read_csv("support.csv")

In [35]:
customers.shape

(8, 5)

In [36]:
sales.shape

(8, 6)

In [37]:
support.shape

(8, 4)

In [38]:
customers.columns

Index(['CustomerID', 'Name', 'Age', 'Region', 'SignupDate'], dtype='object')

In [39]:
sales.columns

Index(['OrderID', 'CustomerID', 'Product', 'Quantity', 'Price', 'OrderDate'], dtype='object')

In [40]:
support.columns

Index(['TicketID', 'CustomerID', 'IssueType', 'ResolutionTime'], dtype='object')

In [41]:
customers.isnull().sum()

CustomerID    0
Name          0
Age           1
Region        0
SignupDate    0
dtype: int64

In [42]:
sales.isnull().sum()

OrderID       0
CustomerID    0
Product       0
Quantity      0
Price         0
OrderDate     0
dtype: int64

In [43]:
support.isnull().sum()

TicketID          0
CustomerID        0
IssueType         0
ResolutionTime    0
dtype: int64

In [45]:
price_array = sales["Price"].values
price_array

array([55000, 25000, 15000, 60000, 22000,  2000, 58000, 18000])

In [47]:
# Apply 10% discount using broadcasting
discounted_prices = price_array * 0.1
sales["Discounted_Price"] = discounted_prices
discounted_prices

array([5500., 2500., 1500., 6000., 2200.,  200., 5800., 1800.])

In [49]:
sales["Revenue"] = sales["Quantity"] * sales["Price"]
sales["Revenue"]

0    110000
1     25000
2     45000
3     60000
4     44000
5     10000
6     58000
7     36000
Name: Revenue, dtype: int64

In [60]:
sales["OrderDate"] = pd.to_datetime(sales["OrderDate"])
sales["OrderDate"]
sales[sales["OrderDate"].dt.month==1]

0   2023-04-10
1   2023-04-12
2   2023-05-01
3   2023-05-15
4   2023-06-05
5   2023-06-10
6   2023-07-02
7   2023-07-20
Name: OrderDate, dtype: datetime64[ns]

In [61]:
sales[0:11]

,OrderID,CustomerID,Product,Quantity,Price,OrderDate,Discounted_Price,Revenue
0,O1001,C001,Laptop,2,55000,2023-04-10,5500.0,110000
1,O1002,C002,Mobile,1,25000,2023-04-12,2500.0,25000
2,O1003,C003,Tablet,3,15000,2023-05-01,1500.0,45000
3,O1004,C004,Laptop,1,60000,2023-05-15,6000.0,60000
4,O1005,C005,Mobile,2,22000,2023-06-05,2200.0,44000
5,O1006,C006,Headphones,5,2000,2023-06-10,200.0,10000
6,O1007,C007,Laptop,1,58000,2023-07-02,5800.0,58000
7,O1008,C008,Tablet,2,18000,2023-07-20,1800.0,36000

In [63]:
customers[customers["Region"] == "North"]

  CustomerID   Name   Age Region  SignupDate
0       C001   Amit  28.0  North  2023-01-15
4       C005  David  30.0  North  2023-02-10

In [65]:
sales[sales["Revenue"] > 10000]

,OrderID,CustomerID,Product,Quantity,Price,OrderDate,Discounted_Price,Revenue
0,O1001,C001,Laptop,2,55000,2023-04-10,5500.0,110000
1,O1002,C002,Mobile,1,25000,2023-04-12,2500.0,25000
2,O1003,C003,Tablet,3,15000,2023-05-01,1500.0,45000
3,O1004,C004,Laptop,1,60000,2023-05-15,6000.0,60000
4,O1005,C005,Mobile,2,22000,2023-06-05,2200.0,44000
6,O1007,C007,Laptop,1,58000,2023-07-02,5800.0,58000
7,O1008,C008,Tablet,2,18000,2023-07-20,1800.0,36000

In [68]:
customers["SignupDate"] = pd.to_datetime(customers["SignupDate"])
customers.sort_values(by="SignupDate")

  CustomerID   Name   Age Region SignupDate
3       C004   Sara  42.0   West 2021-07-12
5       C006  Meera  27.0  South 2022-09-18
1       C002  Priya  35.0  South 2022-11-20
7       C008   Ravi  40.0   West 2022-12-01
0       C001   Amit  28.0  North 2023-01-15
6       C007   Alex  33.0   East 2023-01-25
4       C005  David  30.0  North 2023-02-10
2       C003   John   NaN   East 2023-03-05

In [69]:
sales.sort_values("Revenue" , ascending = False)

,OrderID,CustomerID,Product,Quantity,Price,OrderDate,Discounted_Price,Revenue
0,O1001,C001,Laptop,2,55000,2023-04-10,5500.0,110000
3,O1004,C004,Laptop,1,60000,2023-05-15,6000.0,60000
6,O1007,C007,Laptop,1,58000,2023-07-02,5800.0,58000
2,O1003,C003,Tablet,3,15000,2023-05-01,1500.0,45000
4,O1005,C005,Mobile,2,22000,2023-06-05,2200.0,44000
7,O1008,C008,Tablet,2,18000,2023-07-20,1800.0,36000
1,O1002,C002,Mobile,1,25000,2023-04-12,2500.0,25000
5,O1006,C006,Headphones,5,2000,2023-06-10,200.0,10000

In [72]:
sales_with_region = sales.merge(customers, on="CustomerID", how="left")
sales_with_region.groupby("Region")["Revenue"].mean()

Region
East     51500.0
North    77000.0
South    17500.0
West     48000.0
Name: Revenue, dtype: float64

In [76]:
support.groupby("IssueType")["ResolutionTime"].mean()

IssueType
Delivery Delay    38.000000
Payment Issue     18.666667
Product Defect    66.000000
Name: ResolutionTime, dtype: float64

In [78]:
customers["Age"].fillna(customers["Age"].median())

0    28.0
1    35.0
2    33.0
3    42.0
4    30.0
5    27.0
6    33.0
7    40.0
Name: Age, dtype: float64

In [79]:
customers.rename(columns={"CustomerID": "CustomerID"}, inplace=True)
sales.rename(columns={"CustomerID": "CustomerID"}, inplace=True)
support.rename(columns={"CustomerID": "CustomerID"}, inplace=True)

In [80]:
merged_df = sales.merge(customers, on="CustomerID", how="left")
merged_df = merged_df.merge(support, on="CustomerID", how="left")
merged_df.shape

(8, 15)

In [81]:
clv = merged_df.groupby("CustomerID")["Revenue"].sum().reset_index()
clv.rename(columns={"Revenue": "CLV"}, inplace=True)

merged_df = merged_df.merge(clv, on="CustomerID", how="left")

In [83]:
avg_resolution_customer = merged_df.groupby("CustomerID")["ResolutionTime"].mean().reset_index()
avg_resolution_customer.rename(columns={"ResolutionTime": "Avg_Resolution_Time"}, inplace=True)

merged_df = merged_df.merge(avg_resolution_customer, on="CustomerID", how="left")

In [84]:
merged_df.to_csv("Cleaned_Data.csv", index=False)
print("Cleaned dataset exported successfully!")

Cleaned dataset exported successfully!